#Ignore all hidden files
.*
#Exclude .gitignore
!.gitignore
#Exclude log files
*.log
#Exclude backup files
*.gz
*.tar
*.zip
#Exclude PHP error log
error_log
#Exclude Komodo Edit project file
*.komodoproject
#Exclude node modules
node_modules/
#Exclude scss_cache
scss_cache
